/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #121212;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
}
